---
title: "Archive 2013-2015"
---

%section
  .items
    .item
      .item__name
        Hunter Craighill
      .item__details
        %p Hunter Craighill is an industrial designer based in Brooklyn, NY. He recently founded <a href="http://craighill.co/">Craighill</a> to produce considered, distinct, and timeless products.
        %p Hunter previously led product design efforts at Best Made Co. and M&U Co.
        %ul
          %li On the web: <a href="http://craighill.co/">craighill.co</a>
    .item
      .item__name
        Dylan Fareed
      .item__details
        %p Dylan Fareed is a software engineer and designer in New York City.
        %p Currently a Director on the Engineering team at <a href="https://www.artsy.net">Artsy</a>, Dylan produces software to engage a broader audience with the arts through the Internet.
        %p As time permits, Dylan releases new products at <a href="http://www.dispatch.es">Dispatches</a>.
        %ul
          %li On the web: <a href="http://www.dylanfareed.com/">dylanfareed.com</a>
          %li GitHub: <a href="https://github.com/dylanfareed">@dylanfareed</a>
          %li Twttr: <a href="https://twitter.com/dylanfareed">@dylanfareed</a>
