---
title: "Archive 2013-2015"
blog: products
pageable: true
per_page: 20
paginate: true
---

%section
  .content
    %article
      %h3 While it lasted, it was fun.

      %p <a href="http://craighill.co/">Hunter Craighill</a> and <a href="http://www.dylanfareed.com/">Dylan Fareed</a> founded General Manufacturing Concern (GENMFGCO) in 2013 to make some things a little simpler and a bit better. During its run, the GENMFGCO studio designed, developed, and sold 9 straightforward objects for all-the-time use.

      %p Big thanks to our customers, friends, families and manufacturers.

  .index-row
    - page_articles.each_with_index do |article, i|
      .index-col.one-third
        = partial("partials/product", locals: { article: article })
