---
title: "Archive 2013-2015"
blog: products
pageable: true
per_page: 20
paginate: true
---

#main
  .index-row
    - page_articles.each_with_index do |article, i|
      .index-col.one-third
        = partial("partials/product", locals: { article: article })
